version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: app_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 120s
    restart: unless-stopped

  backend:
    image: vpkebanii/backend:latest
    container_name: backend
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: appuser
      DB_PASS: app_password
      DB_NAME: appdb
      NODE_ENV: production
      ADMIN_EMAIL: admin@wmp.by
      ADMIN_PASSWORD: supersecureadmin
      ADMIN_ROLE: admin
    depends_on:
      - postgres
    ports:
      - "3001:3001"
    restart: unless-stopped

  frontend:
    image: vpkebanii/frontend:latest
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000"
    restart: unless-stopped

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped

networks:
  default:
    name: vpkebanii_net

volumes:
  postgres_data:
  caddy_data:
  caddy_config:
