.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeInOverlay 0.3s ease-out;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  background-color: #141414;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 850px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 127, 0, 0.3);
  animation: fadeInScale 0.4s ease-out;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #FF6600 #141414;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #141414;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FF6600;
    border-radius: 4px;
  }
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #5b2c0d;
  border: 2px solid #FF6600;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #3a261a;
    border-color: #ffa733;
    box-shadow: 0 0 10px rgba(255, 127, 0, 0.4);
  }
}

.modal-image {
  width: 92%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.modal-category {
  color: #FF6600;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  display: inline-block;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-meta {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 12px;
}

.modal-summary {
  font-size: 16px;
  color: #ddd;
  white-space: pre-line;
}

.modal-gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  &__image {
    width: 45%;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #1c1c1c;
    padding: 4px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
      border-color: #ffa733;
    }
  }
}



@media (max-width: 1024px) {

    .modal-image {
        width: 90%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .modal-content {
    max-width: 600px;
}
}

@media (max-width: 768px) {

  .modal-gallery__image {
    width: 90%;
  }
}

@media (max-width: 425px) {

    .modal-image {
        width: 85%;
        height: auto;
        margin-bottom: 10px;
    }
}
