.profile-modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    position: relative;
    background: #1c1c1c;
    color: #fff;
    width: 600px;
    max-width: 90%;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 102, 0, 0.4);
    z-index: 1000;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    color: #ffa733;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #840f0f;
    }
  }

  &__top {
    text-align: center;
    margin-bottom: 20px;

    h2 {
      margin-top: 10px;
      color: #FF6600;
      font-size: 22px;
    }

    p {
      font-size: 16px;
      color: #ccc;
      margin: 6px 0;

      strong {
        color: #ffa733;
      }
    }

    > p:first-of-type {
      font-size: 18px;
      font-weight: bold;
      color: #ffa733;
      margin-top: 15px;
      margin-bottom: 5px;
    }
  }

  &__photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #7c3a0e;
    margin: 0 auto;
  }

  &__rank {
    width: 180px;
    height: auto;
    object-fit: contain;
    margin: 10px auto;
    display: block;
    // border: 2px solid #FF6600;
    border-radius: 8px;
    // background-color: #2a2a2a;
    padding: 4px;
  }

  &__grade {
    font-size: 16px;
    color: #ccc;
    margin-top: 10px;

    strong {
      color: #ffa733;
    }
  }

  &__info {
    margin-top: 20px;

    p {
      margin: 8px 0;
      font-size: 16px;
      color: #ccc;

      strong {
        color: #ffa733;
      }
    }
  }

  &__tokens {
    margin-top: 30px;

    h3 {
      text-align: center;
      color: #FF6600;
      margin-bottom: 10px;
      font-size: 18px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }

  &__token {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 6px;
    border: 1px solid #FF6600;
    background-color: #2a2a2a;
    padding: 4px;
  }
}

.profile-modal__content {
  position: relative;
  background: #1c1c1c;
  color: #fff;
  width: 600px;
  max-width: 90%;
  max-height: 90vh; 
  overflow-y: auto; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 102, 0, 0.4);
  z-index: 1000;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FF6600;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #2a2a2a;
  }
}

