.container-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 999;

  a {
    display: block;
    width: 40px;
    height: 40px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
      transition: transform 0.2s ease;
      color: white;

      &:hover {
        transform: scale(1.4);
      }
    }
  }
}

@media (max-width: 425px) {
    .container-icons a img{
        width: 90%;
    }

    .container-icons{
        right: 5px;
    }
}

@media (max-width: 390px) and (max-width: 393px){
    .container-icons a img{
        width: 90%;
    }

    .container-icons{
        right: 5px;
    }
}