.wrapperSloiOne{
  background-color: #141414;
}

.sloi-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  

  .sloi-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;

    &.active {
      opacity: 1;
      z-index: 1;
    }

    .content-wrapper {
      max-width: 600px;
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      color: #fff;
      text-align: left;
    }

    .arrows {
      position: absolute;
      top: -40px;
      display: flex;
      gap: 10px;

      .arrow {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: transparent;
        cursor: pointer;
        font-size: 22px;
        line-height: 1;
        color: #fff;
        transition: 0.3s;

        &.right {
          border-color: #ff6600;
          color: #ff6600;
        }

        &:hover {
          background: rgba(255,255,255,0.2);
        }
      }
    }

    .title {
      font-size: 48px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .description {
      font-size: 20px;
      line-height: 1.5;
      margin-bottom: 30px;
      max-width: 550px;
    }

    .main-btn {
        background-color: #5b2c0d;
        border: 2px solid #FF6600;      
        color: #ffffff;                  
        padding: 14px 36px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;

      &:hover {
        background-color: #3a261a;       
        border-color: #ffa733;       
        box-shadow: 0 0 10px rgba(255, 127, 0, 0.4);
      }
    }

    .dots {
      display: flex;
      gap: 10px;
      margin-top: 50px;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #999;
        cursor: pointer;
        transition: 0.3s;

        &.active {
          background: #ff6600;
          transform: scale(1.2);
        }
      }
    }
  }
}
